footer{
    font-family: 'Poppins', sans-serif;
}
ul {list-style: none;}
.body{
     display: flex;
     justify-content: flex-end;
     align-items: center;
    flex-direction: column;
    
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container h2{
    position: relative;
    color: black;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer p{
    color: #999;
}
.sci{
    margin-top: 20px;
    display: flex;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
}
.sci li a:hover{
    background: rgb(203, 164, 164);
}
.sci li a .fa-brands{
    color:#041e42;
    font-size: 20px;
}

.quickLinks ul li{
    list-style: none;
}
.quickLinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quickLinks ul li a:hover{
    color: black;
}
.contact .info{
    position: relative;
    padding-left: 0;
}
 .contact .info li{
    display: flex;
    margin-bottom: 16px;
} 
.contact .info li span:nth-child(1){
    color: black;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
    text-decoration: none; 
}
.contact .info li a:hover{
    color: black;
}
.copyrightText{
    width: 100%;
    background: rgb(229, 196, 196);
    padding: 6px 100px;
    text-align: center;
    color: #041e42;
}


 @media (max-width: 991px){

footer .container .sec {
    margin-right: 0;
    margin-bottom: 40px;
}
footer .container .sec.aboutus,
.contact {
    width: 100%;
}
.copyrightText{
    padding: 8px 40px;
}
} 