@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:wght@200;300&family=PT+Mono&family=Poppins:wght@300&family=Sono:wght@300&display=swap');
body{
    background-color: rgb(241, 224, 224);
}
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pag_cntrls{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.backColor{
    background-color: rgb(243, 234, 234);
}
.banner{
    height: 585px;
    background-image: url(../images/banner.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.banner-inner-content{padding-left: 40px;}

.banner-inner-content h1{
    display: block;
    /* padding-left: 150px; */
    font-size: 35px;
}

.banner-inner-content p{
    display: block;
    padding-top: 15px;
    font-size: 18px;
}
#quote{
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    text-align: center;
    font-size: 25px;
} 

/* cards */
.product_link{
    text-decoration: none;
}
.section-heading{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    border-bottom: 1px solid white;
}
.section-heading h2{
    font-size: 28px;
    font-weight: 400;
    color: #1e1e1e;
    margin: 30px 0px 10px 30px;
    /* margin-bottom: 15px; */
    display: flex;
}
.section-heading a{
    text-decoration: none;
    float: right;
    /* margin-top: -35px; */
    margin: -35px 30px 10px 0px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #f33f3f;
}
section{
    width: 100%;
    height: 840px;
    /*background: red;*/
    margin: 10px auto;
    position: relative;
    padding: 5px 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section .text{		
    padding: 10px;
    text-align: center;
    /*font-size: 30px;*/
    color: #554;
}
.text h1{
    font-size: 50px;
}
.text p{
    width: 60%;
    padding: 5px;
    margin: auto;
    line-height: 30px;
}
section header{
    width: 98%;
    height: 60px;
    margin: 0 auto;
    /*background: gray;*/
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
}
header p span{
    font-size: 40px;
    margin: 0 5px;
    cursor: pointer;
    color: #555;
     width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 19px;
    text-align: center;
    border-radius: 3px;
}
header p span:hover{
    background: #222;
    color: white;
}
.allproducts{
    width: 99%;
    height: 500px;
    /*background: red;*/
    margin: auto;
    display: flex;
    align-items: center;
    overflow-x: auto;
    margin-top: 5px;
}
 /* section::-webkit-scrollbar{
    display: none;
}  */
.product {
    background: whitesmoke;
    /* margin:  0 15px  0 0; */
    border-radius: 20px;
    position: relative;
    /* left: 20px; */
    transition: 0.5s;
}  

.product-discount {
    left: 10px;
    top: 10px;
    position: absolute;
    border-radius: 100%;
    background-color: red;
    width: 80px;
    height: 60px;
}
.product-discount a{
    text-decoration: none;
}
.product-discount span{
position: relative;
text-align: center;
size: 25px;
top: 25%;
left: 25%;
font-size: 20px;
font-weight: 600;
}

picture{
    width: 100%;
    height: 70%;
    padding: 15px;
    /*background: green;*/
    display: flex;
    overflow: hidden;
    border-radius: 20px;
}
picture img{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.break-hr {
    width: 40px;
    border-top: 3px solid rgb(112, 3, 3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.detail,
.buttonPrice{
    width: 90%;
    /*background: red;*/
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 20px;
    color: #444;
}
h5{
    color: #555;
}
/* small{color: #555;} */
.buttonPrice span{
    text-decoration: none;
    padding: 4px 10px;
    font-size: 10px;
    margin: 5px 0 0 20px;
    display: inline-block;
    background: #6773ff;
    color: white;
}
p.star{
    margin: 5px auto;
    width: 49%;
    font-size: 16px;
    color: #808080;
}
.card{
    border-radius: 30px;
    margin: 0px 30px;
}
.card img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.card-text{
    text-align: center;
    color: rgb(232, 112, 112);
}
/* scrolling */
.scrolling {
    background-color: rgb(230, 192, 192);
    font-family: 'Montserrat', sans-serif;;
	position: relative;
	width: 100%;
	height: 50px;
	overflow: hidden;
	margin-top: 10px;
}
.scrolling h2 {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 2em;
	text-align: center;
	line-height: 50px;
	color: #fff;
	transform: translateX(100%);
	animation: scrolling 15s linear infinite;
}

#ulje {
color: red;
}
.ulje{
    width: 100px;
    height: 100px;
    top: 5%
}
@keyframes scrolling {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}


/* Benefit */

.benefit{
    margin-top: 50px;
    margin-bottom: 100px;
}
.benefit_row{
    padding-left: 15px;
    padding-right: 15px;
}
.benefit_col{
    padding-left: 0px;
    padding-right: 0px;
}
.benefit_item{
height: 100px;
background: #f3f3f3;
border-right: solid 1px #ffffff;
padding-left: 25px;
}
.benefit_col:last-child .benefit_item{
    border-right: none;
}
.benefit_icon i{
    font-size: 30px;
    color: #fe4c50;
}
.benefit_content{
    padding-left: 22px;
}
.benefit_content h6{
    text-transform: uppercase;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 0px;
}
.benefit_content p{
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0px;
    color: #51545f;
}
/* newsletter */

#newsletter{
    height: 150px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(229, 196, 196);
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #041e42;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #778394;
}
#newsletter p span{
    color: #041e42;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    border: none;
    background-color:  #041e42;
    color: #fff;
    width: 90px;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}




@media only screen and (max-width: 600px) {
    .banner{
        height: 280px!important;
    }
    .banner-inner-content{
        display: none;
    }
    #quote{
        font-size: 10px;
    }
    .section-heading h2{
        font-size: 15px;
    }
    .icons ul  {
        flex-direction: row;
    }
    .icons{
        margin-left: 0px;
    } 
    .resnav {
        justify-content: flex-end;
        align-items: center;
    }
} 
@media screen and (min-width: 501px) and (max-width: 768px) {
    .text h1{
        font-size: 35px;
    }
    .banner{
        max-height: 300px!important;
        height:100%;
    }
    .text p{
        width: 90%;
    }
    header h1{
        font-size: 25px;
    }
    header p span{
        font-size: 30px;
    }
    section .product {
        min-width: 49%;
		margin:  0 10px  0 0;
        height: 300px;
	}
	.detail, .button{
		font-size: 16px;
	}
	a{
	    padding: 6px 10px;
	}
}
